<mat-card id="loginForm">
  <mat-card-content>
    <form #loginForm="ngForm" class="login-form" (ngSubmit)="onSubmit(loginForm)">
      <div class="login-form-container">
        <mat-card-title>Prisijungimas</mat-card-title>
        <mat-form-field appearance="legacy">
          <input matInput [(ngModel)]="user.email" type="email" placeholder="El. paštas" required #emailInput="ngModel">
          <mat-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error">
            <p *ngIf="emailInput.errors.required">Neįvestas elektroninis paštas.</p></mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="legacy">
          <input matInput [(ngModel)]="user.password" type="password" placeholder="Slaptažodis" required
                 #passInput="ngModel">
        </mat-form-field>
        <mat-error *ngIf="passInput.invalid && (passInput.dirty || passInput.touched)" class="error">
          <p *ngIf="passInput.errors.required">Neįvestas slaptažodis.</p></mat-error>
      </div>
      <div>
        <button mat-raised-button (click)="onLoginButtonClick()">Prisijungti</button>
        <p>
          <button mat-raised-button type="button" class="registrationBttn">Registruotis</button>
        </p>
        <span class="psw"><a href="#">Priminti slaptažodį</a></span>
      </div>
    </form>
  </mat-card-content>
</mat-card>
