table {
  width: 100%;
  padding: 20px 40px;

}

.filter{
  margin-left: 20px;
  width: 50%;
}

.filter-bar{
  padding: 20px 40px;
}

.right{
  text-align: right;
}
.container-report-date{

  //display: flex;
  //justify-content: center;
  //align-content: center;
  min-width: 50%;

}

.report-date-field{
  padding: 20px 40px;
}

.list-container{
  margin-top: 20vh;
}
.container{
  padding: 20px 40px;
}

form{
  text-align: center;
}

.icon {
  margin-right: 10px;

}

span.icon:hover {
  cursor: pointer;
}
