table {
  width: 100%;
  padding: 20px 40px;
}

.background-color {
  background-color: #ebebeb;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.flex-container-item{
  margin: 5px;
  padding: 10px;
}

.container-report-date{
  //display: flex;
  //justify-content: center;
  //align-content: center;
  min-width: 50%;
}

.report-date-field{
  padding: 20px 40px;
}

.list-container{
  margin-top: 5vh;
}
.container{
  padding: 20px 40px;
}

form{
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

form{
  padding-bottom: 10px;
}

.primary{
  background: orange;
  color: white;
}

.date-block{
  display: flex;
}

.button-height{
  height: 50px;
}

.button-margin{
  margin-right: 20px;
}

.date-block__list{
  flex-basis: 150px;
  margin-right: 15px;
}

.container-date{
  margin-left: 20px;
}

