table {
  width: 100%;
  padding: 20px 40px;

}

.filter{
  margin-left: 20px;
  width: 50%;
}

.filter-bar{
  padding: 20px 40px;
}

.right{
  text-align: right;
}
.container{
  display: flex;
  justify-content: space-around;
}
